@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="/api/SinhVien">api/SinhVien</a>.</p>
        <p>Learn about <a href="https://localhost:44325/Swagger/index.html">Swagger</a>.</p>

        <p>http://bekenty.com/add-swagger-to-your-web-api-in-asp-net-core-3/</p>
    </div>
